In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [6]:
 ipl=pd.read_csv("../data.csv")

In [7]:
ipl.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,18-04-2008,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,19-04-2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN

In [8]:
 data1=  ipl[["season","city","winner","venue"]]

In [9]:
data1.shape

(577, 4)

In [91]:
citygr=data1.groupby("city")
citygr.get_group("Pune")

season                                                50336
city      PunePunePunePunePunePunePunePunePunePunePunePu...
winner    Pune WarriorsPune WarriorsDelhi DaredevilsDecc...
venue     Subrata Roy Sahara StadiumSubrata Roy Sahara S...
dtype: object

In [11]:
win=data1["winner"]=="Gujarat Lions"
data1[win]

,season,city,winner,venue
519,2016,Chandigarh,Gujarat Lions,"Punjab Cricket Association IS Bindra Stadium, ..."
522,2016,Rajkot,Gujarat Lions,Saurashtra Cricket Association Stadium
525,2016,Mumbai,Gujarat Lions,Wankhede Stadium
535,2016,Rajkot,Gujarat Lions,Saurashtra Cricket Association Stadium
539,2016,Delhi,Gujarat Lions,Feroz Shah Kotla
541,2016,Pune,Gujarat Lions,Maharashtra Cricket Association Stadium
554,2016,Kolkata,Gujarat Lions,Eden Gardens
567,2016,Kanpur,Gujarat Lions,Green Park
570,2016,Kanpur,Gujarat Lions,Green Park

In [12]:
def winner_of_the_match(winner):
    win=data1["winner"]== winner
    return data1[win]

In [13]:
winner_of_the_match("Royal Challengers Bangalore").shape

(70, 4)

In [14]:
place=data1['city']=='Pune'
data1[place]

,season,city,winner,venue
255,2012,Pune,Pune Warriors,Subrata Roy Sahara Stadium
264,2012,Pune,Pune Warriors,Subrata Roy Sahara Stadium
279,2012,Pune,Delhi Daredevils,Subrata Roy Sahara Stadium
281,2012,Pune,Deccan Chargers,Subrata Roy Sahara Stadium
291,2012,Pune,Mumbai Indians,Subrata Roy Sahara Stadium
298,2012,Pune,Rajasthan Royals,Subrata Roy Sahara Stadium
302,2012,Pune,Royal Challengers Bangalore,Subrata Roy Sahara Stadium
315,2012,Pune,Kolkata Knight Riders,Subrata Roy Sahara Stadium
318,2012,Pune,Kolkata Knight Riders,Subrata Roy Sahara Stadium
327,2013,Pune,Kings XI Punjab,Subrata Roy Sahara Stadium
333,2013,Pune,Pune Warriors,Subrata Roy Sahara Stadium
342,2013,Pune,Sunrisers Hyderabad,Subrata Roy Sahara Stadium
362,2013,Pune,Chennai Super Kings,Subrata Roy Sahara Stadium
366,2013,Pune,Royal Challengers Bangalore,Subrata Roy Sahara Stadium
377,2013,Pune,Kolkata Knight Riders,Subrata Roy Sahara Stadium
379,2013,Pune,Mumbai Indians,Subrata Roy Sahara Stadium
391,2013,Pune,Pune Warriors,Subrata Roy Sahara Stadium
460,2015,Pune,Rajasthan Royals,Maharashtra Cricket Association Stadium
468,2015,Pune,Delhi Daredevils,Maharashtra Cricket Association Stadium
472,2015,Pune,Kolkata Knight Riders,Maharashtra Cricket Association Stadium
514,2015,Pune,Royal Challengers Bangalore,Maharashtra Cricket Association Stadium
532,2016,Pune,Royal Challengers Bangalore,Maharashtra Cricket Association Stadium
536,2016,Pune,Kolkata Knight Riders,Maharashtra Cricket Association Stadium
541,2016,Pune,Gujarat Lions,Maharashtra Cricket Association Stadium
545,2016,Pune,Mumbai Indians,Maharashtra Cricket Association Stadium

In [15]:
sea=data1["season"]==2014
data1[sea]

,season,city,winner,venue
398,2014,Abu Dhabi,Kolkata Knight Riders,Sheikh Zayed Stadium
399,2014,Sharjah,Royal Challengers Bangalore,Sharjah Cricket Stadium
400,2014,Abu Dhabi,Kings XI Punjab,Sheikh Zayed Stadium
401,2014,Abu Dhabi,Rajasthan Royals,Sheikh Zayed Stadium
402,2014,NaN,Royal Challengers Bangalore,Dubai International Cricket Stadium
403,2014,NaN,Delhi Daredevils,Dubai International Cricket Stadium
404,2014,Sharjah,Kings XI Punjab,Sharjah Cricket Stadium
405,2014,Abu Dhabi,Chennai Super Kings,Sheikh Zayed Stadium
406,2014,Sharjah,Kings XI Punjab,Sharjah Cricket Stadium
407,2014,NaN,Chennai Super Kings,Dubai International Cricket Stadium
408,2014,Sharjah,Kolkata Knight Riders,Sharjah Cricket Stadium
409,2014,NaN,Sunrisers Hyderabad,Dubai International Cricket Stadium
410,2014,NaN,Chennai Super Kings,Dubai International Cricket Stadium
411,2014,Abu Dhabi,Rajasthan Royals,Sheikh Zayed Stadium
412,2014,Abu Dhabi,Kings XI Punjab,Sheikh Zayed Stadium
413,2014,Sharjah,Delhi Daredevils,Sharjah Cricket Stadium
414,2014,Sharjah,Chennai Super Kings,Sharjah Cricket Stadium
415,2014,NaN,Kings XI Punjab,Dubai International Cricket Stadium
416,2014,Abu Dhabi,Rajasthan Royals,Sheikh Zayed Stadium
417,2014,NaN,Sunrisers Hyderabad,Dubai International Cricket Stadium
418,2014,Ranchi,Chennai Super Kings,JSCA International Stadium Complex
419,2014,Mumbai,Mumbai Indians,Wankhede Stadium
420,2014,Delhi,Rajasthan Royals,Feroz Shah Kotla
421,2014,Bangalore,Royal Challengers Bangalore,M Chinnaswamy Stadium
422,2014,Ahmedabad,Rajasthan Royals,"Sardar Patel Stadium, Motera"
423,2014,Delhi,Chennai Super Kings,Feroz Shah Kotla
424,2014,Mumbai,Mumbai Indians,Wankhede Stadium
425,2014,Delhi,Kolkata Knight Riders,Feroz Shah Kotla
426,2014,Cuttack,Kings XI Punjab,Barabati Stadium
427,2014,Ahmedabad,Sunrisers Hyderabad,"Sardar Patel Stadium, Motera"
428,2014,Bangalore,Kings XI Punjab,M Chinnaswamy Stadium
429,2014,Delhi,Sunrisers Hyderabad,Feroz Shah Kotla
430,2014,Mumbai,Chennai Super Kings,Wankhede Stadium
431,2014,Cuttack,Kolkata Knight Riders,Barabati Stadium
432,2014,Bangalore,Rajasthan Royals,M Chinnaswamy Stadium
433,2014,Hyderabad,Mumbai Indians,"Rajiv Gandhi International Stadium, Uppal"
434,2014,Ranchi,Chennai Super Kings,JSCA International Stadium Complex
435,2014,Bangalore,Royal Challengers Bangalore,M Chinnaswamy Stadium
436,2014,Hyderabad,Kings XI Punjab,"Rajiv Gandhi International Stadium, Uppal"
437,2014,Cuttack,Kolkata Knight Riders,Barabati Stadium
438,2014,Ahmedabad,Rajasthan Royals,"Sardar Patel Stadium, Motera"
439,2014,Ranchi,Royal Challengers Bangalore,JSCA International Stadium Complex
440,2014,Hyderabad,Kolkata Knight Riders,"Rajiv Gandhi International Stadium, Uppal"
441,2014,Ahmedabad,Mumbai Indians,"Sardar Patel Stadium, Motera"
442,2014,Delhi,Kings XI Punjab,Feroz Shah Kotla
443,2014,Hyderabad,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
444,2014,Kolkata,Kolkata Knight Riders,Eden Gardens
445,2014,Chandigarh,Mumbai Indians,"Punjab Cricket Association Stadium, Mohali"
446,2014,Kolkata,Kolkata Knight Riders,Eden Gardens
447,2014,Ranchi,Sunrisers Hyderabad,JSCA International Stadium Complex
448,2014,Mumbai,Mumbai Indians,Wankhede Stadium
449,2014,Chandigarh,Kings XI Punjab,"Punjab Cricket Association Stadium, Mohali"
450,2014,Bangalore,Chennai Super Kings,M Chinnaswamy Stadium
451,2014,Kolkata,Kolkata Knight Riders,Eden Gardens
452,2014,Chandigarh,Kings XI Punjab,"Punjab Cricket Association Stadium, Mohali"
453,2014,Mumbai,Mumbai Indians,Wankhede Stadium
454,2014,Kolkata,Kolkata Knight Riders,Eden Gardens
455,2014,Mumbai,Chennai Super Kings,Brabourne Stadium
456,2014,Mumbai,Kings XI Punjab,Wankhede Stadium
457,2014,Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium

In [16]:
def winner_of_city(city,winner,season):
    place=data1["city"]==city
    win=data1["winner"]== winner
    sea=data1["season"]> season
    return data1[place & win &sea]

In [17]:
winner_of_city('Abu Dhabi','Rajasthan Royals',2010)

     season       city            winner                 venue
401    2014  Abu Dhabi  Rajasthan Royals  Sheikh Zayed Stadium
411    2014  Abu Dhabi  Rajasthan Royals  Sheikh Zayed Stadium
416    2014  Abu Dhabi  Rajasthan Royals  Sheikh Zayed Stadium

In [18]:
data1['city']

0       Bangalore
1      Chandigarh
2           Delhi
3          Mumbai
4         Kolkata
          ...
572        Raipur
573     Bangalore
574         Delhi
575         Delhi
576     Bangalore
Name: city, Length: 577, dtype: object

In [19]:
sym=data1["city"]=='Kanpur'
data1[sym]

     season    city         winner       venue
567    2016  Kanpur  Gujarat Lions  Green Park
570    2016  Kanpur  Gujarat Lions  Green Park

In [76]:
data1.value_counts("winner").sort_values()

winner
Rising Pune Supergiants         5
Kochi Tuskers Kerala            6
Gujarat Lions                   9
Pune Warriors                  12
Deccan Chargers                29
Sunrisers Hyderabad            34
Delhi Daredevils               56
Kings XI Punjab                63
Rajasthan Royals               63
Kolkata Knight Riders          68
Royal Challengers Bangalore    70
Chennai Super Kings            79
Mumbai Indians                 80
Name: count, dtype: int64

In [84]:
data1.drop_duplicates(subset=["city"]).shape

(31, 4)

In [114]:
new=data1.groupby("winner")  # only one get group
new.get_group("Pune Warriors")

,season,city,winner,venue
179,2011,Mumbai,Pune Warriors,Dr DY Patil Sports Academy
184,2011,Mumbai,Pune Warriors,Dr DY Patil Sports Academy
224,2011,Chandigarh,Pune Warriors,"Punjab Cricket Association Stadium, Mohali"
226,2011,Hyderabad,Pune Warriors,"Rajiv Gandhi International Stadium, Uppal"
250,2012,Mumbai,Pune Warriors,Wankhede Stadium
255,2012,Pune,Pune Warriors,Subrata Roy Sahara Stadium
264,2012,Pune,Pune Warriors,Subrata Roy Sahara Stadium
275,2012,Delhi,Pune Warriors,Feroz Shah Kotla
333,2013,Pune,Pune Warriors,Subrata Roy Sahara Stadium
339,2013,Chennai,Pune Warriors,"MA Chidambaram Stadium, Chepauk"
385,2013,Ranchi,Pune Warriors,JSCA International Stadium Complex
391,2013,Pune,Pune Warriors,Subrata Roy Sahara Stadium

In [101]:
# groupby 
var=pd.DataFrame({"name":["a","b","a","c","d","c","d","e"],
                  "s_1":[14,45,45,56,89,59,85,36],
                  "s_2":[45,58,75,86,36,86,96,82]})
var

  name  s_1  s_2
0    a   14   45
1    b   45   58
2    a   45   75
3    c   56   86
4    d   89   36
5    c   59   86
6    d   85   96
7    e   36   82

In [103]:
var_new=var.groupby("name")
var_new

In [105]:
for x,y in var_new:  # all group get
    print(x)
    print(y)
    print()

a
  name  s_1  s_2
0    a   14   45
2    a   45   75

b
  name  s_1  s_2
1    b   45   58

c
  name  s_1  s_2
3    c   56   86
5    c   59   86

d
  name  s_1  s_2
4    d   89   36
6    d   85   96

e
  name  s_1  s_2
7    e   36   82

In [115]:
var_new.min()

      s_1  s_2
name
a      14   45
b      45   58
c      56   86
d      85   36
e      36   82

In [118]:
var_new.max()

      s_1  s_2
name
a      45   75
b      45   58
c      59   86
d      89   96
e      36   82