In [1]:
print("hello")  #print is function

hello

In [2]:
print("tiger",556)

tiger 556

In [3]:
#variables - placeholder/containers
#identifier - name given to variables/function/class
#basic data type - int(1,23...) , flot(1.2...,-5,-6..) ,sring("shan"), boolen(true,flase), none( none)

In [4]:
#input
name = input ("Enter your name")

Enter your name ram

In [5]:
age ="value"                            # variable is filled with num. or string ,it should be boolen -true. but it doesnt false
num = 5000
print(bool(age),bool(num))

True True

In [15]:
age =float(input ("enter your age"))  #datatype casting int to float ,float to int .....
bod =int(input("enter your bod"))
sub = bool(input("enter your sub"))
print(type(age),type(bod),type(sub))

enter your age 56.89
enter your bod 150123
enter your sub 6

<class 'float'> <class 'int'> <class 'bool'>

In [18]:

name = str(input("student name :"))
age = int(input("student age :"))
std = int(input("student standrad :"))
per = float(input("student percentage:"))
res= 0
print(type(name),type(age),type(std),type(per))
print(bool(name),bool(age),bool(std),bool(per),bool(res))

student name : riyansh
student age : 2
student standrad : 2
student percentage: 56.23

<class 'str'> <class 'int'> <class 'int'> <class 'float'>
True True True True False

In [22]:
#formating
name = "riyansh bhise"  
age = 5
std = 2
per = 88.25
print("my name is :{}.   my age is :{}.   my standrad is : {}.    my percentage is : {} ".format(name,age,std,per))

my name is :riyansh bhise.   my age is :5.   my standrad is : 2.    my percentage is : 88.25

In [7]:
#oprater and boolen
a=100
b=6
print(a+b) #addition operator
print(a-b) #sub oprator
print(a/b) #division
print(a//b) #interger dividion
print(a*b) #multiply
print (a**2)  # power 
print(a>b) # greater than 
print(a<b) #less than
print(a==b) # equal than
c = "my name is riyansh"
a=a+15 # modifying old veriable
a +=20
print (a)

106
94
16.666666666666668
16
600
10000
True
False
False
135

In [9]:
# oprator in ,is, is not
nam= "my name is riyansh "
"my" in nam
"riy" in nam

True

In [10]:
"is" in nam

True

In [11]:
"my name" in nam

True

oprator  grater than or equal to

In [18]:
a = 13
b=13
print(a>=b)

True

In [19]:
#less than and equal to <=
a= 16
b =25
print(a<=b)

True

In [20]:
# mod operator %   , remainder will be mod 
a =97 
b=7
print(a%b)

6

In [ ]:
#if else statement

In [36]:
ymarket = int (input("enter yesterday market"))
tmarket = int(input("enter today market"))
diff = tmarket-ymarket
per = diff/ymarket*100
if per>=0.50:
    tper=diff/ymarket*100
    print(tper)
    print ("you can buy")
else:
    print("dont buy")
print("code is finished")

enter yesterday market 24400
enter today market 24698

1.221311475409836
you can buy
code is finished

In [ ]:
yhigh=int(input("enter the yesterday highest price"))
ylow = int(input("enter the yesterday lowset price"))
cp=